@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: local(''), url('../assets/fonts/Inter-Black.ttf') format('truetype'), ; /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: 'Inter';
    font-weight: bold;
    font-style: normal;
    src: local(''), url('../assets/fonts/Inter-Bold.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}


@font-face {
    font-family: 'Inter';
    src: local(''), url('../assets/fonts/Inter-Light.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
    font-weight: thin;
}
@font-face {
    font-family: 'Inter';
    src: local(''), url('../assets/fonts/Inter-Medium.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local(''), url('../assets/fonts/Inter-Regular.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
    font-weight: normal;
    font-style: normal;
}

