$primary-color: #133EBF;

@mixin navtext {
    color: $primary-color;
    font-family: 'Roboto', sans-serif;
    font-family: Roobert;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;

}

@mixin slideDown($duration: 0.5s, $delay: 0s) {
    animation: slideDown $duration ease-in-out $delay forwards;
    transform: translateY(-100%);
}

@keyframes slideDown {
    to {
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@mixin buttontext {
    color: #D4E0E7;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

@mixin menu {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 16px;
}

@mixin desktop {
    @media screen and (min-width: 850px) {
        @content
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active {
    display: flex;
    @include navtext;
    flex-direction: column;
    background-color: #111926;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    font-style: normal;
    flex-wrap: wrap;
    font-size: 24px;
    @include slideDown();

    ul {
        margin-top: 100px;
        text-align: center;
    }

    li {
        margin-top: 40px;

        a {
            text-decoration: none;
            color: white;

        }
    }
}