
@font-face {
    font-family: 'Anton';
     src: local(''),
     url('../assets/fonts/Anton-Regular.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}


@font-face {
    font-family: 'Gotham';
     src: local(''),
     url('../assets/fonts/GothamMedium.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
     font-weight: normal;
     font-style: normal;
     
}
@font-face {
    font-family: 'Gotham';
     src: local(''),
     url('../assets/fonts/Gotham-Black.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
     font-weight: bolder;
     font-style: normal;
     
}
@font-face {
    font-family: 'Gotham';
     src: local(''),
     url('../assets/fonts/Gotham-Bold.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
     font-weight: bold;
     font-style: normal;
     
}
@font-face {
    font-family: 'Gotham';
     src: local(''),
     url('../assets/fonts/GothamBook.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
     font-weight: thin;
     font-style: normal;
     
}
@font-face {
    font-family: 'Poppins';
     src: local(''),
     url('../assets/fonts/Poppins-Bold.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
     font-weight: bold;
     font-style: normal;
     
}
