$primary-color: #007bff;




.swiper-button-prev,
.swiper-button-next {
    color: $primary-color;
    font-weight: bold;
    font-size: 22px;

}

.mySwiper {
    height: 20%;
    width: 50%;
    box-sizing: border-box;
    padding: 10px 0;

    .swiper-slide {
        width: 77px;
        height: 58px;
        opacity: 1;
        gap: 8px;


        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            border-radius: 12px;
        }

    }

}

.swiper-button-prev:after,
.swiper-button-next:after {
   display: none;

}



.mySwiper3 {
    height: 100%;
    width: 100%;

    .swiper-slide {
        text-align: left;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: left;
        align-items: left;
        border: 0.5px solid #D8DBE6;
        border-radius: 8px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
   
    
    .swiper-slide {
        width: 50%;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none
    }
}


